<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  {% endblock %}
</head>

<body>
  <div id="error">
    {% block error %}
    <!-- 错误提示模板 -->
    <div id="error" hx-swap-oob="true"></div>
    {% endblock %}
  </div>

  <div id="header">
    {% block header %}
    {% endblock %}
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>
</body>

</html>