<div id="error" class="fixed inset-0 flex items-center justify-center z-50" hx-swap-oob="true">
  <div class="modal modal-open">
    <div class="modal-box">
      <h2 class="font-bold text-lg">错误</h2>
      <div class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="error-message">{{ error_msg }}</span>
      </div>
      <div class="modal-action">
        <button class="btn" onclick="document.getElementById('error').classList.add('hidden')">关闭</button>
      </div>
    </div>
  </div>
</div>